/* CONTENT */

#human > div:not(.characterBasics):not(.health):not(.miscInfo1):not(.realMenuToggle):not(.menu):before,
#human > div h2:not(.stats h2):not(.senses h2):not(.profTrain h2):not(.actions h2):not(.spells):before,
#hybrid > div:not(.characterBasics):not(.health):not(.miscInfo1):not(.realMenuToggle):not(.menu):before,
#hybrid > div h2:not(.stats h2):not(.senses h2):not(.profTrain h2):not(.actions h2):not(.spells):before,
#werewolf > div:not(.characterBasics):not(.health):not(.miscInfo1):not(.realMenuToggle):not(.menu):before,
#werewolf > div h2:not(.stats h2):not(.senses h2):not(.profTrain h2):not(.actions h2):not(.spells):before,
.container:before,
.frame1:before,
.frame2:before,
#human > div:not(.characterBasics):not(.health):not(.miscInfo1):not(.realMenuToggle):after,
#human > div h2:not(.stats h2):not(.senses h2):not(.profTrain h2):not(.actions h2):after,
#hybrid > div:not(.characterBasics):not(.health):not(.miscInfo1):not(.realMenuToggle):after,
#hybrid > div h2:not(.stats h2):not(.senses h2):not(.profTrain h2):not(.actions h2):after,
#werewolf > div:not(.characterBasics):not(.health):not(.miscInfo1):not(.realMenuToggle):after,
#werewolf > div h2:not(.stats h2):not(.senses h2):not(.profTrain h2):not(.actions h2):after,
.container:after,
.frame1:after,
.frame2:after {
    content: "";
}

/* DISPLAY & POSITION */

.inspCheck ~ .inspIcon,
.offhand:checked ~ .dmgMod,
.menuToggle + .realMenuToggle + .menu,
.masteryDescToggle + .masteryDesc,
input[value="human"] + label + #human,
input[value="hybrid"] + label + #hybrid,
input[value="werewolf"] + label + #werewolf {
    display: none;
}

.sheetSelect,
.sheetSelect + label,
.hidden,
.cantrips,
.item1,
.item2 {
    display: none !important;
}

.inspCheck:checked + .inspIcon,
.menuToggle:checked + .realMenuToggle + .menu,
.masteryDescToggle:checked + .masteryDesc {
    display: initial;
}

.realEquip {
    display: inline;
}

.miscInfo1 *:not(.insp *),
.health *:not(input),
.spellSlot,
.realSpellSlot,
.expertise,
.realExpertise,
.mastery,
.realMastery,
.disadvantage,
.realDisadvantage,
.skills p,
.realOffhand,
.dmgMod,
.realSaveCheck,
.realMenuToggle {
    display: inline-block;
}

#human,
input[value="human"]:checked + label + #human,
#hybrid,
input[value="hybrid"]:checked + label + #hybrid,
input[value="werewolf"]:checked + label + #werewolf,
.characterBasics,
.stats,
.miscInfo1,
.miscInfo2,
.defCond,
.senses,
.profTrain,
.skills,
.actions,
.spells,
.inventory,
.featTrait,
.details,
.cantrips,
.lvlSpells,
.weaponAttacks,
.container:not(.actions .container):not(.spells .container),
.init,
.insp,
.realMenuToggle {
    display: flex;
}

/* FLEX-DIRECTION */

.actions,
.actions .container,
.featTrait,
.miscInfo1,
.spells,
.lvlSpells,
.skills,
.init .container,
.insp .container {
    flex-direction: column;
}

/* FLEX-WRAP */

#human,
#hybrid,
#werewolf,
.characterBasics,
.stats,
.miscInfo1,
.miscInfo2,
.defCond,
.senses,
.spells,
.profTrain,
.inventory,
.details,
.cantrips,
.lvlSpells,
.weaponAttacks,
.container {
    flex-wrap: wrap;
}

.skills,
.actions,
.featTrait {
    flex-wrap: nowrap;
}

/* JUSTIFY-CONTENT */

.spells,
.inventory {
    justify-content: flex-start;
}

.actions,
.stats .container {
    justify-content: space-around;
}

#human,
#hybrid,
#werewolf,
.health,
.stats,
.miscInfo2,
.featTrait,
.details,
.senses,
.defCond,
.weaponAttacks,
.lvlSpells {
    justify-content: space-between;
}

.init,
.init .container,
.insp,
.insp .container,
.realMenuToggle {
    justify-content: center;
}

/* ALIGN-CONTENTS */

.init .container,
.insp .container,
.realMenuToggle {
    align-items: center;
}

.miscInfo1 {
    align-items: flex-end;
}

/* ALIGN-SELF */

.health,
.init,
.insp {
    align-self: center;
}

/* ORDER */

.characterBasics {
    order: 0;
}

.miscInfo1 {
    order: 1;
}

.stats {
    order: 2;
}

.miscInfo2 {
    order: 3;
}

.skills {
    order: 4;
}

.actions {
    order: 5;
}

.spells {
    order: 6;
}

.inventory {
    order: 7;
}

.featTrait {
    order: 8;
}

.details {
    order: 9;
}

/* POSITION */

body,
#human,
#hybrid,
#werewolf,
.characterBasics,
.stats,
.health,
.miscInfo1,
.miscInfo2,
.miscInfo3,
.senses,
.profTrain,
.skills,
.actions,
.spells,
.inventory,
.featTrait,
.details,
.stg,
.dex,
.con,
.int,
.wis,
.cha,
.abilityScore,
.init,
.insp,
.inspCheck,
.frame,
.characterOverview, 
.spellSlot,
.spacer,
.realExpertise,
.realMastery,
.realDisadvantage,
.scaleMail,
.handCrossbow,
.crossbowBolts,
.handaxe,
.handAxe,
.bite,
.claws,
.unarmed,
.offhand,
.save {
    position: relative;
}

#human > div:before,
#hybrid > div:before,
#werewolf > div:before,
#human > div h2:not(.stats h2):before,
#hybrid > div h2:not(.stats h2):before,
#werewolf > div h2:not(.stats h2):before,
.container:before,
#human > div:after,
#hybrid > div:after,
#werewolf > div:after,
#human > div h2:not(.stats h2):after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.modifier,
.inspIcon,
.frame1:before,
.frame1:after,
.frame2:before,
.frame2:after,
.spellSlot input,
.realSpellSlot,
.expertise,
.mastery,
.disadvantage,
.realOffhand,
.saveCheck,
.equip,
.realEquip,
.masteryDescToggle,
.masteryDesc {
    position: absolute;
}

.sheetSelect,
.sheetSelect + label,
.menuToggle,
.realMenuToggle,
.menu {
    position: fixed;
}

/* TOP */

.inspIcon {
    top: 49%;
}


.realOffhand {
    top: 131px;
}

.modifier {
    top: 109px;
}

.masteryDescToggle {
    top: 10px;
}

.equip,
.realEquip {
    top: 4px;
}

.sheetSelect,
.sheetSelect + label,
.saveCheck {
    top: 0;
}

#human > div h2:not(.stats h2):before,
#hybrid > div h2:not(.stats h2):before,
#werewolf > div h2:not(.stats h2):before,
.container:before,
.frame2:before,
#human > div h2:not(.stats h2):after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.frame2:after {
    top: -8px
}

/* RIGHT */

.realOffhand {
    right: 78px;
}

.con .saveCheck {
    right: 27px;
}

.int .saveCheck {
    right: 26px;
}

.cha .saveCheck {
    right: 21px;
}

.stg .saveCheck,
.dex .saveCheck,
.wis .saveCheck {
    right: 20px;
}

.masteryDesc {
    right: 5px;
}

#human > div:after,
#hybrid > div:after,
#werewolf > div:after,
.frame1:after,
.frame2:after,
#human > div h2:not(.stats):after,
#hybrid > div h2:not(.stats):after,
#werewolf > div h2:not(.stats):after,
.container:after {
    right: -8px;
}

/* BOTTOM */

.expertise,
.mastery,
.disadvantage {
    bottom: 13px;
}

.realExpertise,
.realMastery,
.realDisadvantage,
.menuToggle {
    bottom: 2px;
}

.realMenuToggle,
.menu {
    bottom: 0;
}

#human > div:before,
#hybrid > div:before,
#werewolf > div:before,
.frame1:before,
#human > div:after,
#hybrid > div:after,
#werewolf > div:after,
.frame1:after {
    bottom: -8px;
}

/* LEFT */

.sheetSelect[value="werewolf"],
.sheetSelect[value="werewolf"] + label {
    left: 100px;
}

.sheetSelect[value="hybrid"],
.sheetSelect[value="hybrid"] + label {
    left: 50px;
}

.con .modifier {
    left: 25px;
}

.int .modifier {
    left: 24px;
}

.menuToggle {
    left: 23px;
}

.stg .modifier,
.dex .modifier,
.wis .modifier,
.cha .modifier {
    left: 18px;
}

.realExpertise,
.realMastery,
.realDisadvantage {
    left: 2px;
}

.sheetSelect[value="human"],
.sheetSelect[value="human"] + label {
    left: 0;
}

#human > div:before,
#hybrid > div:before,
#werewolf > div:before,
.frame1:before,
.frame2:before,
#human > div h2:not(.stats):before,
#hybrid > div h2:not(.stats):before,
#werewolf > div h2:not(.stats):before,
.container:before {
    left: -8px;
}

.equip,
.realEquip {
    left: -15px;
}

/* Z-INDEX */

.sheetSelect + label,
.menu,
.masteryDesc {
    z-index: 98;
}

.realMenuToggle,
.masteryDescToggle {
    z-index: 99;
}

.inspCheck,
.spellSlot input,
.expertise,
.mastery,
.disadvantage,
.offhand,
.equip,
.menuToggle,
.sheetSelect {
    z-index: 100;
}

/* WIDTH */

h2,
h3,
h4,
.stats,
.skills,
.miscInfo2,
.inventory,
.health,
.spellSlots,
.fastAdd,
.money,
.def,
.def textarea,
.cond,
.cond textarea,
.armor,
.armor textarea,
.weapons,
.weapons textarea,
.tools,
.tools textarea,
.lang,
.lang textarea,
.stats .container,
.inspCheck,
.masteryDescToggle {
    width: 100%;
}

.passPer,
.passInv,
.passInv,
.darkVis,
.weaponAttacks > div {
    width: 50%;
}

.weaponAttacks > div {
    width: 171px;
}

.masteryDesc {
    width: 120px;
}

.frame,
.frame1,
.frame2 {
    width: 111px;
}

.characterImage {
    width: 95px;
}

.sheetSelect {
    width: 100px;
}

.saveCheck,
.menuToggle,
.realMenuToggle {
    width: 40px;
}

.dice {
    width: 35px;
}

input[type="number"],
input[type="text"],
.inspIcon {
    width: 25px;
}

.realOffhand {
    width: 15px;
}

#human > div::before,
#human > div h2:not(.stats):before,
#hybrid > div::before,
#hybrid > div h2:not(.stats):before,
#werewolf > div::before,
#werewolf > div h2:not(.stats):before,.container:before,
.frame1:before,
.frame2:before,
#human > div:after,
#human > div h2:not(.stats h2):after,
#hybrid > div:after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div:after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.frame1:after,
.frame2:after,
.spellSlot,
.realSpellSlot,
.realExpertise,
.realMastery,
.realDisadvantage,
.realEquip {
    width: 10px;
}

/* HEIGHT */

.weaponAttacks > div {
    height: 172px;
}

.frame,
.frame1,
.frame2,
.fastAdd {
    height: 111px;
}

.characterImage {
    height: 95px;
}

.menuToggle,
.realMenuToggle {
    height: 40px;
}

.dice {
    height: 35px;
}

.inspCheck {
    height: 29px;
}

input[type="number"]:not(.characterOverview input[type="number"]):not(.spells p input[type="number"]),
input[type="text"],
select,
.inspIcon {
    height: 25px;
}

.saveCheck,
.masteryDescToggle {
    height: 20px;
}

.realOffhand {
    height: 15px;
}

#human > div:before,
#human > div h2:not(.stats h2):before,
#hybrid > div:before,
#hybrid > div h2:not(.stats h2):before,
#werewolf > div:before,
#werewolf > div h2:not(.stats h2):before,
.container:before,
.frame1:before,
.frame2:before,
#human > div:after,
#human > div h2:not(.stats h2):after,
#hybrid > div:after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div:after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.frame1:after,
.frame2:after,
.spellSlot,
.realSpellSlot,
.realExpertise,
.realMastery,
.realDisadvantage,
.realEquip {
    height: 10px;
}

/* OVERFLOW */

.container {
    overflow-x: hidden;
    overflow-y: scroll;
}

/* FONT-SIZES */

html {
    font-size: 75%;
}

h1 {
    font-size: 2em;
}

h2,
.menu ul li a {
    font-size: 1.5em;
}

h3,
.health {
    font-size: 1.3em;
}

h4,
.abilityScore  {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
}

p,
ul,
ol,
input,
textarea,
select {
    font-size: 0.8em;
}

.realExpertise,
.realMastery,
.realDisadvantage,
.realOffhand {
    font-size: 0.6em;
}

/* FONT-WEIGHT */

h1,
h2 {
    font-weight: 500;
}

h3,
h4 {
    font-weight: 600;
}

h5,
h6,
.health {
    font-weight: 700;
}

/* FONT-FAMILY */

html {
    font-family: "Tahoma";
}

/* TEXT-ALIGN */

input[type="number"],
input[type="text"],
.money,
.health,
.realExpertise,
.realMastery,
.realDisadvantage,
.realOffhand,
.stats .container > div {
    text-align: center;
}

/* TEXT-ALIGN-LAST */

select {
    text-align-last: center;
}

/* TEXT-DECORATION */

.menu ul li a {
    text-decoration: none;
}

/* LINE-HEIGHT */

.realOffhand {
    line-height: 2em;
}

.realExpertise,
.realMastery,
.realDisadvantage {
    line-height: 1.55em;
}

.realMenuToggle {
    line-height: 0em;
}

/* LIST-STYLE-TYPE */

.menu ul li {
    list-style-type: none;
}

/* BORDER */

input,
textarea,
select,
.realMenuToggle {
    border: none;
}

/* BORDER-SIZE */

#human > div:not(.characterBasics):not(.miscInfo1):not(.def),
#human > div:before,
#human > div h2:not(.stats h2):before,
#hybrid > div:not(.characterBasics):not(.miscInfo1):not(.def),
#hybrid > div:before,
#hybrid > div h2:not(.stats h2):before,
#werewolf > div:not(.characterBasics):not(.miscInfo1):not(.def),
#werewolf > div:before,
#werewolf > div h2:not(.stats h2):before,
.container:before,
#human > div:after,
#human > div h2:not(.stats h2):after,
#hybrid > div:after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div:after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.stats input,
.modifier,
.inspIcon,
.characterImage,
.frame1:before,
.frame1:after,
.frame2:before,
.frame2:after,
.realSpellSlot,
.realEquip,
.masteryDesc {
    border-width: 3px;
}

.saveCheck + .realSaveCheck {
    border-width: 5px;
    border-width: 5px;
}

.modifier input[type="number"] {
    border-width: 0;
}

/* BORDER-SOLID */

#human > div:not(.characterBasics):not(.miscInfo1),
#human > div:before,
#human > div h2:not(.stats h2):before,
#hybrid > div:not(.characterBasics):not(.miscInfo1),
#hybrid > div:before,
#hybrid > div h2:not(.stats h2):before,
#werewolf > div:not(.characterBasics):not(.miscInfo1),
#werewolf > div:before,
#werewolf > div h2:not(.stats h2):before,
.container:before,
#human > div:after,
#human > div h2:not(.stats h2):after,
#hybrid > div:after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div:after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.stats input,
.modifier,
.inspIcon,
.characterImage,
.frame1:before,
.frame1:after,
.frame2:before,
.frame2:after,
.realSpellSlot,
.realEquip,
.masteryDesc {
    border-style: solid;
}

.saveCheck + .realSaveCheck {
    border-style: dotted;
}

/* BORDER-RADIUS */

.inspIcon,
.stats input,
.saveCheck + .realSaveCheck {
    border-radius: 100%;
}

/* OUTLINE-WIDTH */

.inspIcon {
    outline-width: 5px;
}

#human > div:not(.characterBasics):not(.miscInfo1),
#hybrid > div:not(.characterBasics):not(.miscInfo1),
#werewolf > div:not(.characterBasics):not(.miscInfo1),
.characterImage,
.masteryDesc {
    outline-width: 1px;
}

/* OUTLINE-STYLE */

.inspIcon {
    outline-style: dotted;
}

#human > div:not(.characterBasics):not(.miscInfo1),
#hybrid > div:not(.characterBasics):not(.miscInfo1),
#werewolf > div:not(.characterBasics):not(.miscInfo1),
.characterImage,
.masteryDesc {
    outline-style: solid;
}

/* OUTLINE-OFFSET */

#human > div:not(.characterBasics):not(.miscInfo1),
#hybrid > div:not(.characterBasics):not(.miscInfo1),
#werewolf > div:not(.characterBasics):not(.miscInfo1),
.inspIcon,
.characterImage,
.masteryDesc {
    outline-offset: 4px;
}

.inspIcon {
    outline-radius: 100%;
}

/* BORDER-COLOR */

.saveCheck + .realSaveCheck {
    border-color: transparent;
}

#human > div:not(.characterBasics):not(.miscInfo1),
#human > div:before,
#human > div h2:not(.stats h2):before,
#hybrid > div:not(.characterBasics):not(.miscInfo1),
#hybrid > div:before,
#hybrid > div h2:not(.stats h2):before,
#werewolf > div:not(.characterBasics):not(.miscInfo1),
#werewolf > div:before,
#werewolf > div h2:not(.stats h2):before,
.container:before,
#human > div:after,
#human > div h2:not(.stats h2):after,
#hybrid > div:after,
#hybrid > div h2:not(.stats h2):after,
#werewolf > div:after,
#werewolf > div h2:not(.stats h2):after,
.container:after,
.abilityScore,
.modifier,
.save input,
.inspIcon,
.characterImage,
.frame1:before,
.frame1:after,
.frame2:before,
.frame2:after,
.saveCheck:checked + .realSaveCheck,
.masteryDesc {
    border-color: indianred;
}


.realSpellSlot,
.realEquip {
    border-color:blanchedalmond;
}

/* OUTLINE-COLOR */

#human > div:not(.characterBasics):not(.miscInfo1),
#hybrid > div:not(.characterBasics):not(.miscInfo1),
#werewolf > div:not(.characterBasics):not(.miscInfo1),
.inspIcon,
.characterImage,
.masteryDesc {
    outline-color: indianred;
}

/* COLOR */

html,
input,
select {
    color: dimgray;
}

.sheetSelect + label,
.realExpertise,
.realMastery,
.realDisadvantage,
.realOffhand,
.realMenuToggle,
.health p,
.health input {
    color: blanchedalmond;
}

.menu ul li a {
    color: indianred;
}

/* BACKGROUND-COLOR */

.initNum,
.modifier input {
    background-color: transparent;
}

.health input {
    background-color: rgba(250,250,250,0.2);
}

.sheetSelect + label,
.health,
.spellSlot input:checked + .realSpellSlot,
.expertise:checked + .realExpertise,
.mastery:checked + .realMastery,
.disadvantage:checked + .realDisadvantage,
.offhand:checked + .realOffhand,
.equip:checked + .realEquip,
.realMenuToggle {
    background-color: indianred;
}

input:not(.health input):not(.initNum),
select,
textarea,
.modifier,
.initValue,
.spellSlot input + .realSpellSlot,
.expertise + .realExpertise,
.mastery + .realMastery,
.disadvantage + .realDisadvantage,
.offhand + .realOffhand,
.equip + .realEquip,
.menu,
.masteryDesc {
    background-color: blanchedalmond;
}

/* BACKGROUND */

#human,
#hybrid,
#werewolf {
    background: linear-gradient(0deg, rgba(80,40,40,0.2), rgba(85,63,32,0.15)), blanchedalmond
}

/* OPACITY */

.sheetSelect,
.inspCheck,
.spellSlot input,
.expertise,
.mastery,
.disadvantage,
.offhand,
.saveCheck,
.equip,
.menuToggle,
.masteryDescToggle {
    opacity: 0;
}

/* MARGIN */

.save {
    margin: 50px 0 0 0;
}

/* .sheetSelect {
    margin: 10px 20px;
} */

#human > div,
#hybrid > div,
#werewolf > div,
.menuToggle,
.realMenuToggle {
    margin: 10px;
}

.inventory > div:not(.money) {
    margin: 0 15px 10px;
}

.defCond div textarea {
    margin: 10px 0 0 0;
}

body,
.characterBasics *,
.init p:nth-child(2),
.health p,
.realSpellSlot,
.realExpertise,
.realMastery,
.realDisadvantage,
#human .miscInfo1,
#hybrid .miscInfo1,
#werewolf .miscInfo1 {
    margin: 0;
}

#human .init,
#hybrid .init,
#werewolf .init {
    margin: 0 5px 0 10px;
}

#human .insp,
#hybrid .insp,
#werewolf .insp {
    margin: 0 5px;
}

.spellSlot {
    margin: 0 10px;
}

#human .health,
#hybrid .health,
#werewolf .health {
    margin: 0 10px 10px;
}

.frame {
    margin: 0 0 15px 0;
}

h2,
h3,
h4,
h5,
h6,
p:not(.init p:nth-child(2)):not(.health p):not(.characterOverview p:last-child),
ul,
ol,
.spellSlots,
.fastAdd,
.spacer:not(.spacer:last-child),
.def,
.cond,
.armor,
.weapons,
.tools,
.lang,
.passPer div,
.passInv div,
.passIns div,
.darkVis div,
.money input,
.menu ul li:not(ul li:last-child) {
    margin: 0 0 15px;
}

.characterOverview {
    margin: 0 0 0 20px;
}

.realMastery,
.realDisadvantage {
    margin: 0 5px 0 0;
}

/* PADDING */

.abilityScore {
    padding: 25px;
}

#human,
#hybrid,
#werewolf {
    padding: 10px;
}

.menu {
    padding: 15px 15px 40px 15px;
}

#human > div:not(.characterBasics):not(.miscInfo1):not(.realMenuToggle):not(.menu),
#hybrid > div:not(.characterBasics):not(.miscInfo1):not(.realMenuToggle):not(.menu),
#werewolf > div:not(.characterBasics):not(.miscInfo1):not(.realMenuToggle):not(.menu),
.masteryDesc {
    padding: 15px;
}

.stg,
.dex,
.con,
.int,
.wis,
.cha,
input[type="number"]:not(.characterBasics input[type="number"]):not(.abilityScore):not(.modifier input[type="number"]):not(.initNum),
.characterImage,
.inventory > div:not(.money) {
    padding: 5px;
}

.modifier input[type="number"],
.initNum {
    padding: 5px 5px 5px 0;
}

.initValue,
.modifier {
    padding: 0 0 0 10px;
}

#human .realMenuToggle,
#human .menu ul,
#hybrid .realMenuToggle,
#hybrid .menu ul,
#werewolf .realMenuToggle,
#werewolf .menu ul {
    padding: 0;
}

/* STYLING FOR INPUT TYPE="NUMBER" */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* STYLING FOR SELECT */

select {
    appearance: none;
}

@media screen and (min-width: 676px) and (orientation: lanscape), screen and (orientation: portrait) and (min-width:676px) and (max-height: 1198px) {
    
    /* ORDER */

    .health {
        order: 2;
    }

    /* TOP */

    /* RIGHT */

    .realOffhand {
        right: 77px;
    }

    /* WIDTH */

    .stats .container {
        width: 77.6%;
    }

    .health {
        width: 50%;
    }

    .characterBasics {
        width: 45%;
    }

    .stats,
    .miscInfo2 {
        width: 41%;
    }

    .actions {
        width: 28%;
    }
    
    .skills {
        width: 26.39%;
    }

    .spells {
        width: 20%;
    }

    .weaponAttacks > div {
        width: 171px;
    }

    /* HEIGHT */

    .skills,
    .actions,
    .spells {
        height: 995px;
    }

    /* MARGIN */

    #human .miscInfo1,
    #hybrid .miscInfo1,
    #werewolf .miscInfo1 {
        margin: 20px 10px 0 5px;
    }

    .health input {
        margin: 5px 0;
    }

    #human .health,
    #hybrid .health,
    #werewolf .health {
        margin: 0 auto 10px ;
    }

    .dmgMod {
        margin: 0;
    }

    .stats .container {
        margin: auto;
    }
}



@media screen and (min-width: 789px) and (min-height: 1199px) {

    /* ALIGN-ITEMS */

    .stats .container {
        align-items: center;
    }

    /* ORDER */

    .skills {
        order: 2;
    }
    
    /* TOP */

    .realOffhand {
        top: 164px;
    }

    .modifier {
        top: 124px;
    }

    .masteryDesc {
        top: 20px;
    }

    /* RIGHT */

    .realOffhand {
        right: 175px;
    }

    .stg .saveCheck,
    .dex .saveCheck,
    .con .saveCheck,
    .int .saveCheck,
    .wis .saveCheck,
    .cha .saveCheck {
        right: 44px;
    }

    /* BOTTOM */

    .realExpertise,
    .realMastery,
    .realDisadvantage {
        bottom: -1px;
    }

    /* LEFT */

    .stg .modifier,
    .dex .modifier,
    .con .modifier,
    .int .modifier,
    .wis .modifier,
    .cha .modifier {
        left: 42px;
    }

    /* WIDTH */

    .defCond {
        width: 100%;
    }

    .miscInfo1 {
        width: 60%;
    }

    .characterBasics {
        width: 54%;
    }

    .stats,
    .actions,
    .skills,
    .spells {
        width: 40%;
    }
    
    #human .health,
    #hybrid .health,
    #werewolf .health {
        width: 35%;
    }

    .init,
    .insp {
        width: 10%;
    }

    .weaponAttacks > div {
        width: 292px;
    }

    .stats .container > div {
        width: 135px;
    }

    .menuToggle,
    .realMenuToggle {
        width: 80px;
    }

    .dice {
        width: 40px;
    }

    input[type="number"],
    input[type="text"],
    .inspIcon,
    .offhand {
        width: 30px;
    }

    .realOffhand {
        width: 20px;
    }

    .realExpertise,
    .realMastery,
    .realDisadvantage {
        width: 15px;
    }

    /* HEIGHT */

    .actions,
    .spells {
        height: 1065px;
    }

    .stats .container > div {
        height: 250px;
    }

    .menuToggle,
    .realMenuToggle {
        height: 80px;
    }

    .dice {
        height: 40px;
    }

    input[type="number"]:not(.characterOverview input[type="number"]):not(.spells p input[type="number"]),
    input[type="text"],
    select,
    .inspIcon {
        height: 30px;
    }

    .offhand,
    .realOffhand {
        height: 20px;
    }

    .realExpertise,
    .realMastery,
    .realDisadvantage {
        height: 15px;
    }

    /* FONT-SIZE */

    html {
        font-size: 118.5%;
    }

    h1 {
        font-size: 1.4em;
    }

    p,
    ul,
    ol,
    input,
    textarea,
    select,
    .stats h3 {
        font-size: 1em;
    }

    .characterBasics {
        font-size: 0.9em;
    }

    .health p,
    .health input {
        font-size: 0.7em;
    }

    /* LINE-HEIGHT */

    .realOffhand {
        line-height: 1.9em;
    }

    .realExpertise,
    .realMastery,
    .realDisadvantage {
        line-height: 1.5em;
    }

    /* MARGIN */

    .handaxe,
    .bite,
    .claws,
    .unarmed {
        margin: 10px 0;
    }

    .weaponAttacks {
        margin: 0 0 20px 0;
    }

    /* PADDING */

    .menu {
        padding: 15px 15px 80px;
    }
}

@media  screen and (min-width: 1000px) {

    /* ORDER */

    .skills {
        order: 4;
    }

    /* TOP */

    .realOffhand {
        top: 147px;
    }

    .modifier {
        top: 115px;
    }

    .masteryDescToggle {
        top: 20px;
    }

    /* RIGHT */

    .realOffhand {
        right: 75px;
    }

    .con .saveCheck {
        right: 37px;
    }

    .int .saveCheck {
        right: 36px;
    }

    .cha .saveCheck {
        right: 24px;
    }

    /* LEFT */

    .stg .modifier {
        left: 22px;
    }
    
    .dex .modifier {
        left: 23px;
    }
    
    .con .modifier {
        left: 39px;
    }
    
    .int .modifier {
        left: 37px;
    }
    
    .wis .modifier {
        left: 17px;
    }
    
    .cha .modifier {
        left: 24px;
    }

    /* WIDTH */

    .stats,
    .stats .container,
    .miscInfo2 {
        width: 100%;
    }

    .characterBasics {
        width: 48%;
    }

    .health {
        width: 40%;
    }

    .actions {
        width: 35%;
    }

    .senses,
    .defCond,
    .profTrain {
        width: 30%;
    }

    .spells {
        width: 25%;
    }

    .skills {
        width: 22%;
    }

    .saveCheck {
        width: 48px;
    }

    /* HEIGHT */

    .actions,
    .skills,
    .spells {
        height: 1019px;
    }

    /* FONT-SIZE */

    html {
        font-size: 98%;
    }

    /* LINE-HEIGHT */

    .realExpertise,
    .realMastery,
    .realDisadvantage {
        line-height: 1.05em;
    }

    .realOffhand {
        line-height: 1.5em;
    }

    /* MARGIN */

    .weaponAttacks {
        margin: 0 0 20px 0;
    }

    #human .health,
    #hybrid .health,
    #werewolf .health {
        margin: 0 auto 10px;
    }

    .dmgMod {
        margin: 0;
    }

    #human .init,
    #human .miscInfo1,
    #hybrid .init,
    #hybrid .miscInfo1,
    #werewolf .init,
    #werewolf .miscInfo1 {
        margin: 0 auto;
    }

    .health input {
        margin: intial;
    }
}

@media screen and (min-width: 1422px) {

    /* FLEX-DIRECTION */

    #human,
    #hybrid,
    #werewolf,
    .characterBasics,
    .health,
    .stats,
    .stats .container,
    .miscInfo2,
    .defCond,
    .profTrain,
    .inventory,
    .details,
    .senses,
    .cantrips,
    .weaponAttacks {
        flex-direction: row;
    }

    /* JUSTIFY-CONTENT */

    .weaponAttacks {
        justify-content: center;
    }

    .stats .container {
        justify-content: space-between;
    }

    /* ORDER */

    .health {
        order: initial;
    }

    /* TOP */

    .realSpellSlot {
        top: 1px;
    }

    /* BOTTOM */

    .characterOverview {
        bottom: 15px;
    }

    /* LEFT */

    .realExpertise,
    .realMastery,
    .realDisadvantage {
        left: 3px;
    }

    /* WIDTH */

    .stats .container,
    .spacer {
        width: 100%;
    }

    .health {
        width: 69.9%;
    }

    .actions,
    .spells {
        width: 34%;
    }

    .profTrain {
        width: 33.34%;
    }

    .characterBasics {
        width: 25%;
    }

    .health {
        width: 22.7%;
    }

    .inventory > div:not(.money),
    .senses,
    .defCond {
        width: 20%;
    }

    .skills {
        width: 15.13%;
    }

    .miscInfo1 {
        width: 12%;
    }

    .armor,
    .armor textarea,
    .weapons,
    .weapons textarea,
    .tools,
    .tools textarea,
    .lang,
    .lang textarea{
        width: initial;
    }

    /* HEIGHT */

    .actions,
    .skills,
    .spells {
        height: 1040px;
    }

    .characterBasics,
    .miscInfo1 {
        height: 130px;
    }

    .init,
    .insp {
        height: 80px;
    }

    .defCond textarea,
    .profTrain textarea {
        height: 55px;
    }

    .health {
        height: 40px;
    }

    /* FONT-SIZES */

    .abilityScore {
        font-size: 1.5em;
    }

    /* MARGIN */

    .save {
        margin: 38px 0 0 0;
    }

    #human > div:not(.menu):not(.realMenuToggle),
    #human .init,
    #human .insp,
    #hybrid > div:not(.menu):not(.realMenuToggle),
    #hybrid .init,
    #hybrid .insp,
    #werewolf > div:not(.menu):not(.realMenuToggle),
    #werewolf .init,
    #werewolf .insp {
        margin: 20px;
    }

    #human .realMenuToggle,
    #hybrid .realMenuToggle,
    #werewolf .realMenuToggle {
        margin: 10px;
    }

    .weaponAttacks > div,
    .inventory > div:not(.money) {
        margin: 0 15px 10px;
    }

    .defCond div textarea {
        margin: 10px 0 0 0;
    }

    .spellSlot {
        margin: 0 10px;
    }

    .profTrain div {
        margin: 0 20px;
    }

    .frame {
        margin: 0 0 15px 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p:not(.init p:nth-child(2)):not(.health p),
    ul,
    ol,
    .spellSlots,
    .fastAdd,
    .spacer {
        margin: 0 0 15px;
    }

    .characterOverview {
        margin: 0 0 0 20px;
    }

    /* PADDING */

    .abilityScore {
        padding: 25px;
    }

    #human,
    #hybrid,
    #werewolf {
        padding: 20px;
    }

    .health {
        padding: 20px 15px 15px;
    }

    #human > div:not(.characterBasics):not(.miscInfo1):not(.health):not(.realMenuToggle):not(.menu),
    #hybrid > div:not(.characterBasics):not(.miscInfo1):not(.health):not(.realMenuToggle):not(.menu),
    #werewolf > div:not(.characterBasics):not(.miscInfo1):not(.health):not(.realMenuToggle):not(.menu) {
        padding: 15px;
    }

    .stg,
    .dex,
    .con,
    .int,
    .wis,
    .cha,
    input[type="number"]:not(.characterBasics input[type="number"]):not(.abilityScore):not(.modifier input[type="number"]):not(.initNum),
    .characterImage,
    .inventory > div:not(.money) {
        padding: 5px;
    }

    .modifier input[type="number"],
    .initNum {
        padding: 5px 5px 5px 0;
    }

    .initValue,
    .modifier {
        padding: 0 0 0 10px;
    }

    #human .realMenuToggle,
    #hybrid .realMenuToggle,
    #werewolf .realMenuToggle {
        padding: 0;
    }
}